.download {
    margin: 50px 0 100px 0;
}

.download__header {
    text-align: center;
    padding: 11px;
}

.download__header p {
    margin: 20px 0 40px 0;
}

.download__body {
    display: flex;
    flex-direction: column;
}

.download__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--white);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 30px 50px;
    border-radius: 10px;
    padding: 20px 0;
}

.download__img {
    margin: 20px 0;
}

.download__card--content img {
    margin-top: 20px;
}

@media screen and (min-width:1025px) {
    .download__card {
        margin: 0;
    }
    .download__body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }
    .card1 {
        position: relative;
        top: 2rem;
    }
    .card2 {
        position: relative;
        top: 4rem;
    }
}