:root {
    --softBlue: hsl(231, 69%, 60%);
    --softRed: hsl(0, 94%, 66%);
    --grayishBlue: hsl(229, 8%, 60%);
    --veryDarkBlue: hsl(229, 31%, 21%);
    --white: #fff;
    --font-family: 'Rubik', sans-serif;
    --font-size: 18px;
    --mobile-padding: 50px 40px;
    --tab-padding: 50px 60px;
    --smallscreen-padding: 50px 70px;
    --desktop-padding: 50px 90px;
    --largescreen-padding: 50px 130px;
}