:root {
    --softBlue: hsl(231, 69%, 60%);
    --softRed: hsl(0, 94%, 66%);
    --grayishBlue: hsl(229, 8%, 60%);
    --veryDarkBlue: hsl(229, 31%, 21%);
    --white: #fff;
    --font-family: 'Rubik', sans-serif;
    --font-size: 1.13rem;
    --mobile-padding: 3.13rem 1.8rem;
    --tab-padding: 3.13rem 4rem;
    --smallscreen-padding: 3.13rem 4.4rem;
    --desktop-padding: 3.13rem 5.6rem;
    --largescreen-padding: 3.13rem 8.13rem;
}