.btn {
    border: none;
    background: none;
    border-radius: .3rem;
}

.primary--btn {
    background: var(--softBlue);
    padding: .9rem;
    color: var(--white);
    font-weight: 600;
}

.primary--btn:hover {
    background: var(--white);
    color: var(--softBlue);
    border: 1px solid var(--softBlue);
}

.secondary--btn {
    background: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    padding: .9rem;
    color: var(--grayishBlue);
    font-weight: 600;
}

.secondary--btn:hover {
    background: var(--white);
    color: var(--grayishBlue);
    border: 1px solid var(--grayishBlue);
}

.btn__nav {
    background-color: var(--softRed);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    padding: .6rem;
}

.btn__nav:hover {
    border: 1px solid var(--softRed);
    background: var(--white);
    color: var(--softRed);
}

.btn__mobile {
    color: var(--white);
    width: 100%;
    text-transform: uppercase;
    border: 2px solid var(--white);
    padding: .6rem;
    margin-top: .9rem;
    font-weight: 500;
    font-size: var(--font-size);
}

.feature__link {
    background: none;
    border-radius: 0;
    padding: 20px;
    border-bottom: 1px solid var(--grayishBlue);
    position: relative;
    font-weight: 500;
}

.feature__link:hover {
    color: var(--softRed);
}

.feature__link:first-child {
    border-top: 1px solid var(--grayishBlue);
}

.feature__link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 42%;
    background: var(--softRed);
}

.feature__btn {
    background: var(--softBlue);
    color: var(--white);
    padding: 10px;
    margin-top: 20px;
    display: none;
}

.feature__btn:hover {
    background: var(--white);
    color: var(--softBlue);
    border: 1px solid var(--softBlue);
}

@media screen and (min-width:769px) {
    .feature__link:first-child {
        border-top: 0;
    }
    .feature__link.active::after {
        width: 100%;
        left: 0;
        transform: none;
    }
}

@media screen and (min-width:1025px) {
    .feature__btn {
        display: flex;
    }
}

.download__btn {
    margin: 10px;
    background: var(--softBlue);
    padding: .9rem;
    color: var(--white);
    font-weight: 600;
}

.download__btn:hover {
    background: var(--white);
    color: var(--softBlue);
    border: 1px solid var(--softBlue);
}

.faq__btn {
    background: var(--softBlue);
    color: var(--white);
    padding: 10px;
    /* margin-top: 20px; */
}

.faq__btn:hover {
    background: var(--white);
    color: var(--softBlue);
    border: 1px solid var(--softBlue);
}

.form__btn {
    color: var(--white);
    background: var(--softRed);
    padding: 15px;
}