.btn {
    border: none;
    background: none;
    border-radius: 5px;
}

.primary--btn {
    background: var(--softBlue);
    padding: 15px;
    color: var(--white);
    font-weight: 600;
}

.secondary--btn {
    background: var(--white);
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: var(--grayishBlue);
    font-weight: 600;
}

.btn__nav {
    background-color: var(--softRed);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
}

.btn__nav:hover {
    border: 1px solid var(--softRed);
    background: var(--white);
    color: var(--softRed);
}

.btn__mobile {
    color: var(--white);
    width: 100%;
    text-transform: uppercase;
    border: 2px solid var(--white);
    padding: 10px;
    margin-top: 15px;
    font-weight: 500;
    font-size: var(--font-size);
}