.btn__nav {
    background-color: var(--softRed);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    padding: 10px;
    transition: .5s;
}

.btn__nav:hover {
    border: 1px solid var(--softRed);
    background: var(--white);
    color: var(--softRed);
}

.btn__mobile {
    background: none;
    color: var(--white);
    width: 100%;
    text-transform: uppercase;
    border: 2px solid var(--white);
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: var(--font-size);
}